/*************Section__box***********/

.section__box .zoomIn {
  transition: 0.5s ease-in-out;
  transform: scale(1.2);
  z-index: 1;
}
.section__box .zoomOut {
  transition: 1s ease-in-out;
  transform: scale(1);
}

/**************Section Project********/
.project__one::after {
  content: "JavaScript - HTML5(Canvas) - CSS3";
  display: block;
  width: 0;
  height: 0;
  top: 35%;
  color: transparent;
  background-color: rgb(255, 0, 0, 0.5);
  position: absolute;
  transition: all 1000ms;
  z-index: 999;
}

.project__one:hover::after {
  width: 100%;
  height: 30%;
  padding-top: 7%;
  overflow-wrap: break-word;
  color: var(--main__color);
  font-weight: var(--general__font-weight);
  text-align: center;
  z-index: 999;
}

.project__two::after {
  content: "JavaScript(OOP) - HTML5(Canvas) - CSS3";
  display: block;
  width: 0;
  height: 0;
  top: 35%;
  color: transparent;
  background-color: rgb(255, 0, 0, 0.5);
  transition: all 1000ms;
  position: absolute;
  z-index: 999;
}

.project__two:hover::after {
  width: 100%;
  height: 30%;
  padding-top: 7%;
  overflow-wrap: break-word;
  color: var(--main__color);
  font-weight: var(--general__font-weight);
  text-align: center;
  z-index: 999;
}

.project__three::after {
  content: "JavaScript - HTML5 - CSS3";
  display: block;
  width: 0;
  height: 0;
  top: 35%;
  color: transparent;
  background-color: rgb(255, 0, 0, 0.5);
  transition: all 1000ms;
  position: absolute;
  z-index: 999;
}

.project__three:hover::after {
  width: 100%;
  height: 30%;
  padding-top: 7%;
  overflow-wrap: break-word;
  color: var(--main__color);
  font-weight: var(--general__font-weight);
  text-align: center;
  z-index: 999;
}
