.main-box {
  display: flex;
  flex-direction: column;
}

/***===> Section Resume - Section Projects - Section This website - Section Manuals <===***/
section {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section__title {
  text-align: center;
}

@media (min-width: 576px) {
  section {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  section {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  section {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  section {
    max-width: 1140px;
  }
}
