.main-box {
  display: flex;
  flex-direction: column;
}

/***===> Section Resume - Section Projects - Section This website - Section Manuals <===***/
section {
  flex-basis: 100%;
  margin-top: var(--section__margin-top);
  margin-bottom: var(--section__margin-bottom);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section__info-this-website {
  /* margin-bottom: -15em; */
}

.section__title {
  font-family: var(--titles__font-family);
  text-align: center;
  margin-bottom: var(--section__margin-bottom);
}

.section__title-resume-paragraph {
  text-align: left;
}

.section__title-project-paragraph {
  text-align: center;
}

.section__title-manuals-paragraph {
  text-align: center;
}

.section__info-this-website {
  text-align: center;
}

.section__title-manuals-paragraph-designed {
  text-align: center;
  margin-top: 2em;
  font-size: 0.8em;
  font-weight: 600;
}

@media (min-width: 576px) {
  section {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  section {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  section {
    max-width: 960px;
    margin-top: var(--section__margin-top-large);
  }

  section h2 {
    font-size: 32px;
    text-transform: uppercase;
  }
}

@media (min-width: 1200px) {
  section {
    max-width: 1140px;
  }
}
