.section__this-website {
  flex-basis: 100%;
  height: auto;
  background-color: rgba(247, 247, 247, 0.5);
  box-shadow: inset 0px 0px 10px -5px rgb(0, 0, 0);
}

.section__this-website--box-wireframe-image {
  margin-top: 1em;
}

.section__this-website--box-wireframe-image,
.section__this-website--box-mockup-image {
  margin-bottom: 0.5rem;
}

.section__this-website--box-wireframe-text,
.section__this-website--box-mockup-text {
  margin-bottom: 1em;
  font-family: var(--general__font-family);
}

.section__this-website--box-wireframe-text h1 {
  text-align: center;
}

.section__this-website--box-mockup-text h1 {
  text-align: center;
}

@media (min-width: 768px) {
  .section__this-website--box {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .section__this-website--box-wireframe-image {
    grid-row: 1;
    grid-column: 1/6;
  }

  .section__this-website--box-wireframe-text {
    grid-row: 1;
    grid-column: 6/9;
    padding-left: 1em;
  }

  .section__this-website--box-mockup-image {
    grid-row: 2;
    grid-column: 4/9;
  }

  .section__this-website--box-mockup-text {
    grid-row: 2;
    grid-column: 1/4;
    padding-right: 2em;
  }
}
