.section__resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #34b7a7;
}

.section__resume-item {
  padding: 0 0 20px 20px;
  margin-top: -0.5em;
  border-left: 2px solid #34b7a7;
  position: relative;
}

.section__resume-title {
  font-family: var(--titles__font-family);
  font-size: var(--resume__title-font-size);
  font-weight: var(--resume__title-font-weight);
  color: var(--resume__title-font-color);
  margin-block-end: var(--resume__title-margin-bottom);
}

.section__resume-subtitle {
  line-height: 18px;
  font-size: var(--resume__subtitle-font-size);
  font-weight: var(--resume__subtitle-font-weight);
  font-family: var(--subtitles__font-family);
  color: var(--resume__subtitle-font-color);
  margin-bottom: 10px;
}

.section__resume-email {
  font-size: 18px;
}

.section__resume-email,
.section__resume-icon-name {
  font-weight: 700;
}

.section__resume-date {
  font-family: var(--subtitles__font-family);
  font-size: var(--resume__date-font-size);
  background: var(--resume__date-background-color);
  padding: 5px 15px;
  display: inline-block;
  font-weight: var(--resume__date-font-weight);
  margin-bottom: 10px;
  color: var(--resume__date-font-color);
}

.section__resume-place {
  font-family: var(--general__font-family);
  margin-block-end: var(--resume__place-margin-bottom);
}

.section__resume-list {
  margin-top: -0.2em;
  font-family: var(--general__font-family);
}

.section__resume-skills {
  columns: 2;
}

.section__resume-list .fa-gitlab {
  color: orange;
}

@media (min-width: 992px) {
  .section__resume-sociology {
    padding-bottom: 0 !important;
  }
  /* 
  .section__resume-openClassRoom {
    margin-top: var(--resume__section-Front-end-Developer);
  } */
}

@media (min-width: 1200px) {
  .section__resume-sociology {
    padding-bottom: 0 !important;
  }
}
