.section__box {
  display: grid;
  width: 100%;
  grid-gap: 2em;
  grid-template-columns: repeat(1, auto);
  justify-content: center;
  cursor: pointer;
}

.section__box img {
  width: 100%;
  height: auto;
}

img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  /*Section Grid-box for projects and manuals*/
  .section__box {
    grid-template-columns: repeat(2, auto);
  }
} /*End media querie 768px*/

@media screen and (min-width: 992px) {
  /*Section Grid-box for projects and manuals*/
  .section__box {
    grid-template-columns: repeat(3, auto);
  }
} /*End media querie 992px*/
