h1,
h2 {
  font-weight: bold;
}

h1 {
  color: white;
  font-family: var(--title-font-family);
  font-size: var(--title-font-size);
}

h2 {
  font-family: var(--subtitle-font-family);
}

h2 {
  color: #ffc53e;
  /* font-size: var(--subtitle-font-size); */
}

h3 {
  font-size: var(--h3-text);
  font-weight: 400;
}

h4 {
  font-size: var(--h4-text);
}

h5 {
  font-size: var(--h5-text);
}

p,
em,
li {
  font-family: var(--general-font-family);
}

section {
  margin-top: var(--section-margin-top);
}

section h2 {
  font-size: var(--section-title);
  text-align: center;
  margin-bottom: var(--section-margin-bottom);
}

/******************************************Menu****************/

/********************************************Header***************/

/*****************************Sections************************/
.section-title h2 {
  font-size: var(--title-font-size);
}

/*Section Grid-box for projects and manuals*/
.grid-box {
  display: grid;
  width: 100%;
  grid-gap: 2em;
  background-color: red;
  grid-template-columns: repeat(1, auto);
  justify-content: center;
}

.grid-box img {
  width: 100%;
  height: auto;
}

img {
  width: 100%;
  height: auto;
}

/**********Resume***********/
.resume ul {
  margin-top: -0.2em;
}

.fa-gitlab {
  color: burlywood;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #34b7a7;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -0.5em;
  border-left: 2px solid #34b7a7;
  position: relative;
}

li {
  list-style-type: none;
}

/*********This web site was done*********/
.this-website {
  width: 100%;
  height: auto;
  background-color: rgba(247, 247, 247, 0.5);
  box-shadow: inset 0px 0px 10px -5px rgb(0, 0, 0);
}

.this-website-box {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 1fr);
  margin-top: 2em;
}
/*****************************Footer**************************/
footer {
  background-color: orange;
  position: sticky;
}

/***************************************************************Media Queries************************************************/

@media screen and (min-width: 768px) {
  /*Section Grid-box for projects and manuals*/
  .grid-box {
    grid-template-columns: repeat(2, auto);
  }

  /* This web site was done */
} /*End media querie 768px*/

@media screen and (min-width: 992px) {
  /*Section Grid-box for projects and manuals*/
  .grid-box {
    grid-template-columns: repeat(3, auto);
  }
} /*End media querie 992px*/
